
.fishRed {
  margin-top:12%;
  width: 150px;
  height: 100px;
  animation: swim 5s 2;
  animation: swim 1s infinite;
  animation: swimAll 11.5s infinite;
}

.fish-bodyRed {
  z-index: 99;
  position: absolute;
  margin-top: -125px;
  margin-left: 140px;
  background-color: red;
  border-radius: 70%;
  width: 300px;
  height: 100px;

}

.finLeftRed {
  transform-origin: bottom right;
  animation: finLeft 3s infinite;
}
.finLeft1Red{
  position: absolute;
  margin-top: -160px;
  margin-left: 255px;
  opacity: 0.95;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(40deg);
  width: 120px;
  height: 20px;
}
.finLeft2Red {
  position: absolute;
  margin-top: -160px;
  margin-left: 250px;
  opacity: 1;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(40deg);
  width: 120px;
  height: 50px;
}
.finLeft3Red {
  position: absolute;
  margin-top: -180px;
  margin-left: 200px;
  opacity: 0.8;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(30deg);
  width: 120px;
  height: 50px;
}
.finLeft4Red {
  position: absolute;
  margin-top: -190px;
  margin-left: 210px;
  opacity: 0.8;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(15deg);
  width: 100px;
  height: 50px;
}

.finRightRed {
  transform-origin: top right;
  animation: finRight 3s infinite;
}
.finRight1Red {
  position: absolute;
  margin-top: -10px;
  margin-left: 255px;
  opacity: 0.95;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-40deg);
  width: 120px;
  height: 20px;
}
.finRight2Red{
  position: absolute;
  margin-top: -40px;
  margin-left: 250px;
  opacity: 1;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-40deg);
  width: 120px;
  height: 50px;
}
.finRight3Red {
  position: absolute;
  margin-top: -20px;
  margin-left: 200px;
  opacity: 0.8;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-30deg);
  width: 120px;
  height: 50px;
}
.finRight4Red{
  position: absolute;
  opacity: 0.8;
  margin-top: -15px;
  margin-left: 220px;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(-15deg);
  width: 100px;
  height: 50px;
}

.tailRed {
  animation: tail 10s infinite;
}
.tailMiddleRed {
  position: absolute;
  margin-top: -95px;
  margin-left: 70px;
  background-color: red;
  border-radius: 50%;
  transform: rotate(0deg);
  width: 220px;
  height: 35px;
}
.tail1Red {
  position: absolute;
  margin-top: -75px;
  margin-left: 75px;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(200deg);
  width: 130px;
  height: 30px;
}
.tail2Red {
  position: absolute;
  margin-top: -110px;
  margin-left: 75px;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(160deg);
  width: 130px;
  height: 30px;
}
.tailLeftRed {
  position: absolute;
  margin-top: -145px;
  margin-left: 45px;
  opacity: 0.95;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(30deg);
  width: 120px;
  height: 50px;
  animation: tailLeft 5s infinite;
}
.tailRightRed {
  position: absolute;
  margin-top: -60px;
  margin-left: 45px;
  opacity: 0.95;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-30deg);
  width: 120px;
  height: 50px;
  animation: tailRight 5s infinite;
}

.tailFinMiddleRed {
  position: absolute;
  margin-top: -90px;
  margin-left: -50px;
  background-color: red;
  border-radius: 100%;
  transform: rotate(0deg);
  width: 170px;
  height: 25px;
}
.tailFin1Red {
  position: absolute;
  opacity: 0.95;
  margin-top: -105px;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 30px;
}
.tailFin2Red{
  opacity: 0.95;
  position: absolute;
  margin-top: -80px;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 30px;
}
.tailFin3Red {
  opacity: 0.7;
  position: absolute;
  margin-top: -80px;
  margin-left: -55px;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 25px;
}
.tailFin4Red {
  opacity: 0.7;
  position: absolute;
  margin-top: -100px;
  margin-left: -55px;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 25px;
}
.tailFin5Red {
  opacity: 0.5;
  position: absolute;
  margin-top: -79px;
  margin-left: -80px;
  background-color: red;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(10deg);
  width: 120px;
  height: 20px;
}
.tailFin6Red {
  opacity: 0.5;
  position: absolute;
  margin-top: -97px;
  margin-left: -80px;
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-10deg);
  width: 120px;
  height: 25px;
}

/*#### Animations ####*/

/* Simple Swim Animation */
@keyframes swim {
  100% {
    transform: translateY(170px) translateX(1200px) rotate(20deg);
  }
}
/* Left Fin Animation */
@keyframes finLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg) translateY(80px) translateX(30px);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Right Fin Animation */
@keyframes finRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg) translateY(-75px) translateX(-30px);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Left Tail Animation */
@keyframes tailLeft {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(20deg) translateY(15px);
  }
  50% {
    transform: rotate(30deg);
  }
  75%{
    transform: rotate(40deg) translateY(-7px);
  }
  100% {
    transform: rotate(30deg);
  }
}
/* Right Tail Animation */
@keyframes tailRight {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(-20deg) translateY(-15px);
  }
  50% {
    transform: rotate(-30deg);
  }
  75%{
    transform: rotate(-40deg) translateY(7px);
  }
  100% {
    transform: rotate(-30deg);
  }
}

/* Tail Animation */
@keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-7deg) translateY(15px);
  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(7deg) translateY(-15px);
  }
  100% {
    transform: rotate(0deg);
  }
}



/* Longer Swim Animation */
@keyframes swimAll {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateY(170px) translateX(1000px) rotate(20deg);
  }
  40% {
    transform: translateY(300px) translateX(1400px) rotate(70deg);
  }

  45% {
    transform: translateY(330px) translateX(1600px) rotate(160deg);
  }
  60% {
    transform: translateY(300px) translateX(700px) rotate(200deg);
  }
  90% {
    transform: translateY(50px) translateX(-900px) rotate(205deg);
  }
  95% {
    transform: translateY(0px) translateX(-450px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
