.scene_container2 {
	position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftcolumn {
	width: 20%;
}
.rightcolumn {
	width: 20%;
}

.middle {
	width:60%;
}
.landfill {
 
  
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  display:block;
}


.description2 {
	display:block;
	margin:auto;
	width: 80%;
}


.button {
	color: black;
}