.scene_container {
	position: relative;
  width: 100%;
  margin: auto;
}
.scene {
 
  
  width: 60%;
  content:url("./assets/bins.jpg");
  margin-left: auto;
  margin-right:auto;
  display:block;
}


.area2 {
	width: 225px;
	height: 150px;
	display: block;
	position: absolute;
	left: 54%;
	top: 23%;
	
}
.area1 {
	width: 225px;
	height: 150px;
	display: block;
	position: absolute;
	left: 35%;
	top: 25%;
}

.area3  {
	width: 225px;
	height: 150px;
	display: block;
	position: absolute;
	left: 60%;
	top: 60%;
}

.area4  {
	width: 225px;
	height: 150px;
	display: block;
	position: absolute;
	left: 30%;
	top: 70%;
}
.description {
	display:block;
	margin:auto;
	width: 80%;
	visibility: hidden;
}
#area:hover ~ .description{visibility: visible;}
#area:hover {
	background-size: cover;
	background-image:url("./assets/redcircle.png")
}







