@font-face {
  font-family: 'Oribtron';
  src: local('Orbitron'), url(../fonts/Orbitron-Regular.ttf) format('truetype');
}

.backgroundMicro{
    padding: 1.5rem;
    background-color: black;}
  
.backgroundMicroC2{
  padding: 1.5rem;
  background-color: black;
}
  
  A:hover{ COLOR: white;}
  
  .microButtonMicro{
    color: #4a4d4f;
    background-color: lightblue;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px 10px 10px 10px;
    border-width: 10px 45px 10px 38px;
    border-color:lightblue;
    align-self: center;
  }
  
  

  
  .colorTextMicro{
    border-top-style: solid;
    font-size: 3.7rem;
    color: white;
    margin-top: -97.5px;
    align-content: center;
    font-family: serif;
  }
  
  .passageOriginMicro{
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Oribtron';
  }
  
  .paraDivMicro{
    margin-left:24%;

    
  }
  .title_backgroundMicro{
    background-color: black;
  }
  
  .introInfoMicro{
    padding-top:55px;
    font-stretch: expanded;
    text-align: center;
    width:70%;
    font-family: 'Oribtron';
    color: #ffffff;
      }
  
 
  
  /*top parallax*/
  .parallaxMicro{
    background-image: url('https://static01.nyt.com/images/2019/10/22/science/11PLASTIC1/11PLASTIC1-superJumbo.jpg');
    height: 76px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

  }
  .bigContMicro{
    display: flex;
    background-color: black;
    align-content: flex-start;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: fit-content;
  }
  .oceanContMicro{
    margin: 30px;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-flow: row nowrap;
  height: fit-content;
  font-family: 'Oribtron';
  }

  .oceanInfoMicro{
  display: flex;
  justify-content: center;
  align-content: space-evenly, center;
  flex-flow: column nowrap;
  height: fit-content;
  font-family: 'Oribtron';

  }
  .microInfoMicro{
    font-stretch: expanded;
    text-align: center;
    width: 38%;
    color: white;
    font-family: 'Oribtron';
  }

  .parallaxOriginMicro{      
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:auto;
  }
.OceanImgMicro{
  background-image: url("../assets/ocean.jpg");
  height: 22em;
  width: 35em;  
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size:auto;
}
.GrassImgMicro{
  background-image: url("https://asunow.asu.edu/sites/default/files/styles/asu_news_article_hero/public/shutterstock_426187984-sized.jpg?itok=ieZmcOHk");  
  width: 22em;
  height: 35em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}
  