.pictureHeight{
  height:251px;
}

.jumboHeight{
  margin-bottom: -2px;
}

.jumboHeightTwo{
  margin-bottom: -2px;
  height:30px;
}

h1{
  text-align:center;
  color:#0c0163;
}

p{
  text-align:center;
  color:#0c0163;
}
