
html{
    overflow-y: scroll; overflow-x:hidden;
  }

.mainDiv{
    background: linear-gradient(to right, #5680E9 0%, #C1C8E4 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topClothesRack{
    width: 65%;
    height: 600px;
    background: url("../assets/clothesRack.png") no-repeat center;
    background-size: contain;
    flex-grow: 1;
}
.firstDiv{
    width: 100%;
    height: 600px;
    display:flex;
    flex-direction: row;
}
.secondDiv{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.firstTxt{
    width: 35%;
    margin: 50px;
    height: fit-content;

}
.titleTxt{
    width: 35%;
    height:600px;
    justify-self: center;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 200px;
}

.txt{
    color: white;
    font-family: 'Orbitron';
}
.slideshow{
    width: 50%;
    height: 100%;
}
.slideshowBox{
    width: 100%;
    height: 100%;
}

.acrylicimg{
    background: url("https://static.fibre2fashion.com/MemberResources/LeadResources/8/2015/2/Seller/1595364/Images/1595364_0_Acrylic%20Fabric.jpg") no-repeat center;
}
.nylonimg{
    background: url("https://cdn.shopify.com/s/files/1/0558/3725/products/Royal_Blue_d4f474eb-f46d-4afb-91c8-8f3ed7818a9e_1000x.JPG?v=1571438697") no-repeat center;
}
.rayonimg{
    background: url("https://fabric-media.moodfabrics.com/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/3/1/318935/aurora-pink-rayon-spandex-318935-11.jpg?1558619871") no-repeat center;
}
.spandeximg{
    background: url("https://p.globalsources.com/IMAGES/PDT/BIG/612/B1164901612.jpg") no-repeat center;
}
.polyimg{
    background: url("https://static.fibre2fashion.com/MemberResources/LeadResources/8/2018/12/Seller/18157342/Images/18157342_0_polyester-fabric.jpg") no-repeat center;
}
.acetateimg{
    background: url("https://i.etsystatic.com/15746895/r/il/e90991/1637611102/il_570xN.1637611102_2lxd.jpg") no-repeat center;
}


.c{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
  }
.fabrictitle{
      font-size: 70px;
      color:white;
      font-family: 'Orbitron';
      text-align: center;
      justify-content: center;
  }
  .fabrictxt{
    font-size: 30px;
    color:white;
    font-family: 'Orbitron';
    text-align: center;
    justify-content: center;
    padding: 10px;
  }

.thirdDiv{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.laundryDiv{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.laundry{
    background: url("../assets/laundry.png") no-repeat center;
    background-size: contain;
    width: 65%;
    height: 500px;
}
.laundrytxt{
    width: 35%;
    height:500px;
    justify-self: center;
    margin-right: 100px;
    margin-top: 200px;
}
.washingtxt{
    width: 60%;
    position: absolute;
    height: 35%;
    left:22px;
    bottom: 400px;
    margin: 25px;
}
.button{
    width: 15%;
    position: absolute;
    height: fit-content;
    left:700px;
    bottom:200px;
    background-color:white;
    border-radius: 30px 30px 30px 30px;
    display: inline-block; 
}
.washingDiv{
    margin-top: 20px;
    margin-left: 15px;
    z-index: 1;
    

}
.pipe{
    width: 100%;
    height: 75%;
    padding: 50px;
    left:400px;
    bottom: 0px;
    background: url("../assets/pipe2.png") no-repeat;
    background-size: contain;
    position: absolute;
}
.micropiece{
    width: 100px;
    height: 100px;  
    clip-path: polygon(41% 66%, 60% 68%, 64% 77%, 50% 93%, 26% 77%, 40% 78%);
    color: blueviolet; 
    z-index: 2; 
}

