.buttonColor{
  color:#4a4d4f;
}

.backgroundButtonColor{
  background-color:white;
  width: fit-content;
  border-radius:50px 50px 50px 50px;
  border-width: 50px 50px 50px 50px;
  display: inline-block;
}


A:hover{ COLOR: white;
  }

.homeBody{
  background: #2f2f2f;
  background: black;
  
}

.infoContainer{
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  margin: 40px;
  height: fit-content;
}
.infoTextContainer{
  width: 45%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
}
.titleforinfo{
  font-size: 30;
  color:white;
}
.parforinfo{
  font-size: 15;
  color:white;

}
.infograph{
  flex-grow: inherit;
  margin: 35px;
  width: 100%;
  height: 400px;
  border: 5;
}

@font-face {
  font-family: 'Oribtron';
  src: local('Orbitron'), url(../fonts/Orbitron-Regular.ttf) format('truetype');
}

.counterContainer{
  background:transparent;

}
.counterTextContainer{
  display: flex;
  flex-flow: column;
  color: white;
  align-items: center
}
.counterTitleText{
  color:white;
}



.containerCircle{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 200px;
}
.circle_background{
  background-color: white;
}
.circle {
    border: 5px solid white;
    background: url('../assets/ocean_blue.jpg');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 1000px; 
    margin: 0.5em;
}
.circleFast{
  animation: fillerbroo 60s infinite;
}
.circleMed{
  animation: fillerbroo 90s infinite;}
.circleSlow{
  animation: fillerbroo 200s infinite;}

@keyframes fillerbroo {
  0% { background-size:100% 0% }
  100%{background-size: 100% 100%}
}
.circleText{
  color: white;
}
.circle:hover {
  background-color: #0c0163;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}


.plasticContainer {
  display: flex;
  flex-flow: row;
  justify-content:space-evenly;
  width: 100%;
  
}
.article{
  background: transparent;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  width: 50%;
  margin: 25px;

}

.articleText{
  font-size: 50;
  color: white;
}

.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.macroCard{
background-image: url('../assets/macro.jpg');
}

.microCard{
  background-image: url('../assets/micro.jpg');
}

.nanoCard{
  background-image: url('../assets/nano.jpg');
}
.popoverdiv{
  width: 400px;
  height: 400px;
  background: transparent;
  
}

.popoverImg{
  float: top;
  width: 100%;
  height: 75%;
  opacity: 1;
  border-radius: 50%
}
.popovertext{
  float: bottom;
  color: white;
  opacity: 1;
}