.backgroundFish{
  background-color: lightblue;
  height: 370px;
}

.bottleAlignment{
  display: -webkit-inline-box;
  position: absolute;
  top: 550px;
}
.yellowSand{
  background-color:#bebe1f;
  height:250px;
}
.pushSkyDown{
  position:absolute;
}
.fish {
  margin-top:20%;
  width: 150px;
  height: 100px;
  animation: swim 5s 2;
  animation: swim 1s infinite;
  animation: swimAll 16s infinite;
}

.fish-body {
  z-index: 79;
  position: absolute;
  margin-top: -125px;
  margin-left: 140px;
  background-color: #3366FF;
  border-radius: 70%;
  width: 300px;
  height: 100px;
}

.finLeft {
  transform-origin: bottom right;
  animation: finLeft 3s infinite;
}
.finLeft1 {
  position: absolute;
  margin-top: -160px;
  margin-left: 255px;
  opacity: 0.95;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(40deg);
  width: 120px;
  height: 20px;
}
.finLeft2 {
  position: absolute;
  margin-top: -160px;
  margin-left: 250px;
  opacity: 1;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(40deg);
  width: 120px;
  height: 50px;
}
.finLeft3 {
  position: absolute;
  margin-top: -180px;
  margin-left: 200px;
  opacity: 0.8;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(30deg);
  width: 120px;
  height: 50px;
}
.finLeft4 {
  position: absolute;
  margin-top: -190px;
  margin-left: 210px;
  opacity: 0.8;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(15deg);
  width: 100px;
  height: 50px;
}

.finRight {
  transform-origin: top right;
  animation: finRight 3s infinite;
}
.finRight1 {
  position: absolute;
  margin-top: -10px;
  margin-left: 255px;
  opacity: 0.95;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-40deg);
  width: 120px;
  height: 20px;
}
.finRight2 {
  position: absolute;
  margin-top: -40px;
  margin-left: 250px;
  opacity: 1;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-40deg);
  width: 120px;
  height: 50px;
}
.finRight3 {
  position: absolute;
  margin-top: -20px;
  margin-left: 200px;
  opacity: 0.8;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-30deg);
  width: 120px;
  height: 50px;
}
.finRight4 {
  position: absolute;
  opacity: 0.8;
  margin-top: -15px;
  margin-left: 220px;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(-15deg);
  width: 100px;
  height: 50px;
}

.tail {
  animation: tail 10s infinite;
}
.tailMiddle {
  position: absolute;
  margin-top: -95px;
  margin-left: 70px;
  background-color: #3366FF;
  border-radius: 50%;
  transform: rotate(0deg);
  width: 220px;
  height: 35px;
}
.tail1 {
  position: absolute;
  margin-top: -75px;
  margin-left: 75px;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(200deg);
  width: 130px;
  height: 30px;
}
.tail2 {
  position: absolute;
  margin-top: -110px;
  margin-left: 75px;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(160deg);
  width: 130px;
  height: 30px;
}
.tailLeft {
  position: absolute;
  margin-top: -145px;
  margin-left: 45px;
  opacity: 0.95;
  background-color: #288AC7;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(30deg);
  width: 120px;
  height: 50px;
  animation: tailLeft 5s infinite;
}
.tailRight {
  position: absolute;
  margin-top: -60px;
  margin-left: 45px;
  opacity: 0.95;
  background-color: #288AC7;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-30deg);
  width: 120px;
  height: 50px;
  animation: tailRight 5s infinite;
}

.tailFinMiddle {
  position: absolute;
  margin-top: -90px;
  margin-left: -50px;
  background-color: #3366FF;
  border-radius: 100%;
  transform: rotate(0deg);
  width: 170px;
  height: 25px;
}
.tailFin1 {
  position: absolute;
  opacity: 0.95;
  margin-top: -105px;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 30px;
}
.tailFin2 {
  opacity: 0.95;
  position: absolute;
  margin-top: -80px;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 30px;
}
.tailFin3 {
  opacity: 0.7;
  position: absolute;
  margin-top: -80px;
  margin-left: -55px;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 25px;
}
.tailFin4 {
  opacity: 0.7;
  position: absolute;
  margin-top: -100px;
  margin-left: -55px;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(0deg);
  width: 120px;
  height: 25px;
}
.tailFin5 {
  opacity: 0.5;
  position: absolute;
  margin-top: -79px;
  margin-left: -80px;
  background-color: #3366FF;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  transform: rotate(10deg);
  width: 120px;
  height: 20px;
}
.tailFin6 {
  opacity: 0.5;
  position: absolute;
  margin-top: -97px;
  margin-left: -80px;
  background-color: #3366FF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transform: rotate(-10deg);
  width: 120px;
  height: 25px;
}

/*#### Animations ####*/

/* Simple Swim Animation */
@keyframes swim {
  50% {
    transform: translateY(170px) translateX(1200px) rotate(20deg);
  }
}
/* Left Fin Animation */
@keyframes finLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg) translateY(80px) translateX(30px);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Right Fin Animation */
@keyframes finRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg) translateY(-75px) translateX(-30px);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Left Tail Animation */
@keyframes tailLeft {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(20deg) translateY(15px);
  }
  50% {
    transform: rotate(30deg);
  }
  75%{
    transform: rotate(40deg) translateY(-7px);
  }
  100% {
    transform: rotate(30deg);
  }
}
/* Right Tail Animation */
@keyframes tailRight {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(-20deg) translateY(-15px);
  }
  50% {
    transform: rotate(-30deg);
  }
  75%{
    transform: rotate(-40deg) translateY(7px);
  }
  100% {
    transform: rotate(-30deg);
  }
}

/* Tail Animation */
@keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-7deg) translateY(15px);
  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(7deg) translateY(-15px);
  }
  100% {
    transform: rotate(0deg);
  }
}



/* Longer Swim Animation */
@keyframes swimAll {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateY(170px) translateX(1000px) rotate(20deg);
  }
  40% {
    transform: translateY(300px) translateX(1400px) rotate(70deg);
  }

  45% {
    transform: translateY(330px) translateX(1600px) rotate(160deg);
  }
  60% {
    transform: translateY(300px) translateX(700px) rotate(200deg);
  }
  90% {
    transform: translateY(50px) translateX(-900px) rotate(205deg);
  }
  95% {
    transform: translateY(0px) translateX(-450px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}


li.water-bottle { float:left;margin-right:15px;}
ul { list-style-type:none; }

.bottle { background: #ddd; width:100px;border-radius:30px 30px 6px 6px; height:200px; padding:6px;box-shadow: 3px 3px 3px #efefef;margin-bottom:4px;}
.bottle:hover { background: #eee;box-shadow: 2px  2px 2px #efefef;}


.cap { background: #ddd; margin:0 25px;width:60px;border-radius:8px 8px 10px  12px; height:35px;border-top:1px solid #ddd; border-bottom:2px dotted #efefef;}
.cap-top { background:#ededed; height:6px; border-radius:10px 10px 0 0; }
.cap-seal { margin-top:20px;background:#ccc; height:6px; border-radius: 0 0 10px 10px; }

.water-full { background: darkseagreen ;width:100px;margin-top:10px;height:190px; z-index:1;border-radius:28px 28px 10px 10px;}
.water-medium { background:darkseagreen; width:100px;height:120px;margin-top:80px; z-index:1;border-radius:28px 28px 10px 10px;}
.water-low { background: darkseagreen ;width:100px;height:75px; margin-top:125px;z-index:1;border-radius:28px 28px 10px 10px;}
.water-empty { background: darkseagreen ;width:100px;height:15px; margin-top:185px;z-index:1;border-radius:28px 28px 10px 10px;}
