.areabad {
  width: 225px;
  height: 150px;
  display: block;
  position: absolute;
  left: 60%;
  top: 60%;
}

.areagood {
  width: 225px;
  height: 150px;
  display: block;
  position: absolute;
  left: 20%;
  top: 60%;
}
