

.areastorm {
	width: 225px;
	height: 150px;
	display: block;
	position: absolute;
	left: 38%;
	top: 50%;
}
.stormdrain {
 
  
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  display:block;
}


.description2 {
	display:block;
	margin:auto;
	width: 80%;
}
.buttonContainer {
	display: flex;
	justify-content: space-around;
}

.backButton {
	background-color: white;
	height: 50px;
	width: 60px;
	border-radius: 10px;
	text-decoration: none;
  padding: 0px 0px 0px 20px;
  font-size: 30px;


}

.finishButton {
	background-color: white;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	text-align: center;

  font-size: 30px;


}

.backButton:hover {
	background-color: grey;
}