.scene_container2 {
	position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftcolumn, .rightcolumn {
	width: 20%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}


.middle {
	width:60%;
}
.kitchen {
 
  
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  display:block;
}


.description2 {
	display:block;
	margin:auto;
	width: 80%;
}
.buttonContainer {
	display: flex;
	justify-content: space-around;
}

.backButton {
	background-color: white;
	height: 50px;
	width: 60px;
	border-radius: 10px;
	text-decoration: none;
  padding: 0px 0px 0px 20px;
  font-size: 30px;


}
.reuse_cards{
	padding: 20px;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.finishButton {
	background-color: white;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	text-align: center;

  font-size: 30px;


}

.backButton:hover {
	background-color: grey;
}