@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
@keyframes drive {
    0% { left: 0px; }
    100% { left: 900px; }
}



.wheel {
    background: url(../assets/wheel.png) no-repeat;
    background-size: contain;
    height: 90px;
    width: 90px;
    -webkit-animation: spin 2s 20 linear;
    animation: spin 2s 20 linear;
    position: absolute;
    
}
.back{
    bottom: 345px;
    left: 43px;
}
.front{
    bottom: 345px;
    left: 345px;
}


.car{
    background: url(../assets/car.png) no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    position: relative;
    z-index: 2;
    -webkit-animation: drive 12s 10 linear;
    animation: drive 12s 10 linear;
    
}
.roadcar{
    background: url(../assets/road.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}
.main_road{
    background: linear-gradient(to left, #5680E9 0%, #C1C8E4 100%);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.roadtxt{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 5em;
    padding: 10px;
}
.bigRoad{
    font-family: "Orbitron";
    font-size: 5em;
}
.smallRoad{
    font-size: 2em;
}
.picAndButton{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.stormdrain{
    width: 70%;
}
.roadButton{
    width: 20%;
    background: white;

}