.backgroundMicro{
    padding: 1.5rem;
  }
  
  .backgroundMicroC2{
    padding: 1.5rem;
  }
  
  A:hover{ COLOR: white;}
  
  .microButton{
    margin-top: 4%;
    padding-left: 23px;
    margin-left: 17%;
    color: #4a4d4f;
    background-color: lightblue;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px 10px 10px 10px;
    border-width: 10px 45px 10px 38px;
    border-color:lightblue;
  }
  
  
  
  .body{
    background-color: black;
  }
  
  .colorText{
    border-top-style: solid;
    font-size: 3.7rem;
    color: white;
    font-family: serif;
    margin-top: -97.5px;
    align-content: center;
  }
  
  .passageOrigin{
    font-family: serif;
    font-size: 1.2em;
  }
  
  .paraDiv{
    margin-left:24%;
  }
  
  .introInfo{
    padding-top:55px;
    font-family: serif;
    font-size: 1.3em;
    font-stretch: expanded;
    text-align: center;
    -webkit-font-smoothing: auto;
    width:70%;
      }
  
  .microInfo{
    font-size: 1.2em;
    font-stretch: expanded;
    text-align: right;
    -webkit-font-smoothing: auto;
    width: 38%;
  }
  
  
  .parallax {
    background-image: url('https://static01.nyt.com/images/2019/10/22/science/11PLASTIC1/11PLASTIC1-superJumbo.jpg');
    height: 76px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bigCont{
    padding: 50px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 900px;
  }
  .oceanCont{
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-flow: row nowrap;
  height: 100px;
  }

  .oceanInfo{
  display: flex;
  justify-content: space-evenly center;
  align-content: flex-start center;
  flex-flow: column nowrap;
  height: 200px;
  }
  .parallaxOriginM0{      
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:auto;
  }
.OceanImg{
  background-image: url("../assets/ocean.jpg");
  height: 22em;
  width: 35em;  
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size:auto;
}
.GrassImg{
  background-image: url("../assets/plains.jpg");  
  width: 35em;
  height: 35em;
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;

}
  