.backgroundNano{
  padding: 1.5rem;
}

.backgroundNanoC2{
  padding: 1.5rem;
}

.colorText{
  border-top-style: solid;
  font-size: 3.7rem;
  color: white;
  font-family: serif;
  margin-top: -97.5px;
  align-content: center;
}


.parallax {

  background-image: url('https://static01.nyt.com/images/2019/10/22/science/11PLASTIC1/11PLASTIC1-superJumbo.jpg');
  height: 76px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
