.backgroundNano{
  padding: 1.5rem;
}

.backgroundNanoC2{
  padding: 1.5rem;
}

.body{
  background-color: black;
}

.colorText{
  border-top-style: solid;
  font-size: 3.7rem;
  color: white;
  font-family: serif;
  margin-top: -97.5px;
  align-content: center;
}

.paraDiv{
  margin-left:24%;
}

.introInfo{
  padding-top:55px;
  font-family: serif;
  font-size: 1.3em;
  font-stretch: expanded;
  text-align: center;
  -webkit-font-smoothing: auto;
  width:70%;
    }


.parallax {

  background-image: url('https://static01.nyt.com/images/2019/10/22/science/11PLASTIC1/11PLASTIC1-superJumbo.jpg');
  height: 76px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
