 .main{
     display: flex;
     flex-direction: row;
 } 
 
 #all {

    left: 10%;
    animation-name: shake;
    animation-timing-function: linear;
    animation-iteration-count: 0;
    animation-duration: 2s;
  }
  
  .top {
    width: 400px;
    height: 16px;
    background-color: white;
    border-bottom: 5px solid #131447;
  }
  
  .bod {
    width: 400px;
    height: 520px;
    background-color: white;
  }
  
  .upper {
    width: 100%;
    height: 80px;
    /* border-bottom:2px solid gray;*/
  }
  
  .detergent-box {
    width: 120px;
    height: 80px;
    border-bottom: 4px solid silver;
    border-right: 4px solid silver;
    position: absolute;
  }
  
  .detergent-box:before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 10px;
    background: -webkit-linear-gradient(left, silver 55%, white);
    top: 60px;
    left: 40px;
  }
  
  
  .control-circle {
    width: 60px;
    height: 80px;
    border-radius: 0px 0px 80px 80px;
    background-color: #11163f;
    position: absolute;
    left: 170px;
  }
  
  .control-circle:before {
    content: " ";
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: #e8e7de;
    top: 30px;
    left: 8px;
  }
  
  
  
  .u4 {
    position: relative;
    float: right;
    right: 27px;
    top: 13px;
  }
  

  
  
  .blinking_light {
    width: 30px;
    height: 6px;
    background-color: #1e275d;
    left: 360px;
    position: relative;
    top: 60px;
    animation-name: color_change;
    animation-timing-function: linear;
    animation-iteration-count: 0;
    animation-duration: 1s;
  }
  
  @keyframes color_change {
    0% {
      background-color: #1e275d;
    }
    50% {
      background-color: #1e275d;
    }
    51% {
      background-color: red;
    }
    100% {
      background-color: red;
    }
  }
  
  .circle_out {
    width: 320px;
    height: 320px;
    border-radius: 300px;
    background: -webkit-linear-gradient(left, #121250, #263d71, #344b75);
    position: relative;
    top: 40px;
    left: 40px;
    animation-name: round;
    animation-timing-function: linear;
    animation-iteration-count: 0;
    animation-duration: 1s;
  }
  
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(2000deg);
    }
  }

  @keyframes shake {
    0%, 100% { transform:  translate(0, 0) rotate(0); }
    25%  { transform:  translate(-1.5px, 1.5px) rotate(0.5deg); }
    50%  { transform:  translate(-0.5px, -0.5px) rotate(0.5deg); }
  }
  
  .circle_out:before {
    content: " ";
    position: absolute;
    width: 312px;
    height: 312px;
    border-radius: 312px;
    background: radial-gradient(transparent 0px 120px, white 120px 312px);
    left: 2.2px;
    top: 2.1px;
  }
  
  .circle_out:after {
    content: " ";
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 240px;
    background-color: transparent;
    left: 41px;
    top: 41px;
    box-shadow: inset #2d4473 0px 0px 20px 40px;
  }
  
  .circle_inn {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 240px;
    background: -webkit-repeating-linear-gradient(
      top left,
      transparent 0px 160px,
      white 1600px 320px
    );
    opacity: 0.1;
    left: 82px;
    top: 180px;
    box-shadow: inset 14px 14px #383e78;
  }
 
  .clothes {
    position: absolute;
    width: 50%;
    height: 20%;
    opacity: 0.7;
    left: 82px;
    top: 180px;
    background: linear-gradient(#48873e, #7b9f17);
    border-radius: 49% 38% 65% 8% / 30% 12% 51% 36%;
    
    
}
.clothes:nth-child(1) {
    background: linear-gradient(#48873e, #7b9f17);
    width: 200px;
    height: 100px;
    top: 180px;
    left: 82px;
    transform: rotate(-20deg);
    border-radius: 49% 38% 65% 8% / 30% 12% 51% 36%;
}

  
  .box {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    border: 3px solid silver;
    float: right;
    position: relative;
    top: 24px;
    right: 16px;
  }


  