.main_container{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #5680E9 0%, #C1C8E4 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.water_facility{
    background: url("./assets/watertreatment.svg") no-repeat;
    background-size: contain;
    height: 700px;
    width: 100%;

}

.treatment_title{
    font-size: 40px;
    color:white;
    font-family: 'Orbitron';
    text-align: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.treatment_txt{
    font-size: 30px;
    color:white;
    font-family: 'Orbitron';
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.buttonwaste{
    width: 15%;
    height: fit-content;
    background-color:white;
    border-radius: 30px 30px 30px 30px; 
    align-self: flex-end;
    margin: 25px;
}